@charset:"utf-8";
.body .wrap .logo .item{
    margin:0;
    padding:0;
}
.wrap{
  margin: 100px auto 0px;
}
.logo{
    display: block;
    margin: 0px auto;
    width:400px;
    height:400px;
    background-color:pink;
    text-align:center;
}
.logo .logo_item{
    padding: 50% 0px;
}


.btn_start{
    display:block;
    margin: 30px auto;
    width:400px;
    height:100px;
    background-color:pink;
    text-align:center;
}
.btn_info{
    display:block;
    margin: 30px auto;
    width:400px;
    height:100px;
    background-color:pink;
    text-align:center;
}
